.heroSection {
  background: var(--black);
  color: var(--white);
}

.heroContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.heroContainer h1 {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.2;
}

.heroTextContainer {
  display: flex;
  flex-direction: column;
  max-width: 40%;
}

.heroTextContainer p {
  font-weight: 300;
  line-height: 1.75;
  color: var(--gray);
}

.heroButtonContainer {
  display: flex;
  gap: 2rem;
}
