.projectsHeading {
  text-align: left;
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.projectCardsContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  justify-items: center;
}

@media screen and (min-width: 768px) {
  .projectCardsContainer {
    grid-template-columns: 1fr 1fr;
  }
}
