.converionPanelSection {
  background-color: var(--black);
  color: var(--white);
}

.conversionPanelContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.converionPanelHeading {
  position: relative;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.converionPanelButton {
  padding: 4rem;
  background-color: var(--white);
  border: none;
  border-radius: 100%;
  width: fit-content;
  rotate: 90deg;
  cursor: pointer;
  transition: background-color var(--hover-time) var(--hover-type),
    rotate var(--hover-time) var(--hover-type);
}

.converionPanelButton:hover {
  background-color: var(--primary-accent);
  rotate: 45deg;
}

@media screen and (min-width: 768px) {
  .converionPanelHeading {
    font-size: 4rem;
  }
}

@media screen and (min-width: 992px) {
  .converionPanelHeading {
    font-size: 6rem;
  }

  .converionPanelHeading:before {
    content: "";
    position: absolute;
    top: 0;
    transform: translate(65px, 10px);
    width: 4.75rem;
    height: 4.75rem;
    border-radius: 100%;
    background-color: var(--secondary-accent);
    background-image: url("../../../public/images/sh.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
