.navSection {
    background-color: var(--black);
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0 1rem 0;
}

.wordmarkContainer {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.navProfile {
    background-color: var(--secondary-accent);
    border-radius: 500px;
    transition: rotate var(--hover-time) var(--hover-type);
}

.navProfile:hover {
    rotate: 180deg;
}

.navWordmark {
    color: var(--white);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
}

.navList {
    display: flex;
    gap: 2.5rem;
}

.navList li a {
    color: var(--white);
    text-decoration: none;
    transition: color var(--hover-time) var(--hover-type);
}

.navList a:hover {
    color: var(--primary-accent);
}

.navList li  .navCTA {
    background-color: var(--secondary-accent);
    padding: 1rem 1.5rem;
    border-radius: 50px;
    transition: background-color var(--hover-time) var(--hover-type);
}

.navList li .navCTA:hover {
    background-color: var(--primary-accent);
    color: var(--black)
}