.navSection {
    background-color: var(--black);
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0 1rem 0;
}

.wordmarkContainer {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.navProfile {
    background-color: var(--secondary-accent);
    border-radius: 500px;
}

.navWordmark {
    color: var(--white);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
}



.navList {
    display: flex;
    gap: 2.5rem;
}

.navList li a {
    color: var(--white);
    text-decoration: none;
}
